* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-size: 16px;
  background-color: var(--dark-white);
  --night: #0F110C;
  --dark-brown: #311212;
  --dark-white:#FAFAFA;
  --gray: #A5A5A5;
  --light-gray: #d9d9d9;
}

a {
  text-decoration: none;
  font-weight: 300;
  color: #F2F0EE;
}

ul {
  list-style-type: none;
}

/**********************************************************************************************************/

header {
  background-color: var(--night);
  height: 6rem;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  width: 930px;
}

.row>nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.name{
  font-family: "Josefin Sans", "Helvetica", serif;
  color: var(--night);
  font-size: 2rem;
  background-color: var(--dark-white);
  display: flex;
  border-radius: 5rem;
  border: 1rem double var(--night);
  padding: 0.3rem 1rem;
}

.name::after{
  content: " TM";
  vertical-align: super;
  font-size: 0.8rem;
  font-weight: bold;
}

#main-nav{
  flex: 5;
  display: flex;
  justify-content: space-around;
}

#main-nav>li,
#socials>li{
  padding: 1% 2%;
}

#main-nav>li a:hover{
  color: darkgray;
}

#socials{
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.fa {
  font-size: 1.5rem;
}

@media only screen and (max-width: 780px){
  header {
    height: 4.5rem;
  }

  .row {
    width: 100%;
  }

  .name {
    scale: 0.6;
  }

  #main-nav,
  #socials {
    display: none;
  }
}


/**********************************************************************************************************/

.main-img {
  width: 100%;
  background-color: white;
  box-shadow: 0 0 4px var(--gray);
}

.content {
  margin: 0 auto;
  display: grid;
  width: 900px;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(2, 1fr);
}

.description {
  grid-row: 1 / 3;
  grid-column: 4 / 5;
  align-self: end;
  margin-bottom: 2rem;
}

figure{
  width: 660px;
  overflow: hidden;
}

figure>img{
  object-fit: cover;
  object-position: -200px;
}

#doggo-2{
  grid-row: 1 / 3;
  grid-column: 1 / 4;
}

#doggo-1{
  grid-row: 1 / 3;
  grid-column: 1 / 4;
}

.description .role{
  padding: 1.5rem 0;
}

.description a{
  color: var(--night);
  right: 10px;
}

.description a:hover{
  color: var(--gray);
}

.description h3 {
  font-size: 3rem;
}

#doggo-1{
  animation: opacity 5s ease-in-out infinite alternate;
}

@keyframes opacity{
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}


@media only screen and (max-width: 780px){
  .main-img {
    height: 50%;
  }
  .content {
    width: 100%;
  }
  figure{
    width: 100%;
    overflow: hidden;
  }
  figure>img{
    width: 115%;
    height: auto;
    object-fit: cover;
    object-position: -50px;
  }
  .description h3 {
    font-size: 2rem;
  }
  .description p {
    font-size: 0.75rem;
  }
}
  

@media only screen and (max-width: 450px){
  .main-img {
    height: 30%;
  }
  figure{
    z-index: 1;
    width: 120%;
    overflow: hidden;
  }
  figure>img{
    scale: 0.8;
    object-fit: cover;
    object-position: -50px;
  }
  .description {
    z-index: 10;
  }

  .description h3 {
    font-size: 1rem;
  }
  .description p {
    font-size: 0.625rem;
  }
  .description .role{
    padding: 0.5rem 0;
  }
}

.dark {
  padding: 6rem 0 3rem 0;
  background-color: var(--dark-white);
  box-shadow: 0 0 0.25rem var(--gray);
}

.row-header {
  position: relative;
  top: 0.75rem;
  background-color: var(--dark-white);
  width: 300px;
  margin: 0 auto;
  font-size: 0.75rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  color: var(--gray);
}

.sample-work {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 2.5rem 0;
  justify-content: center;
  border-top: 0.25rem double var(--gray);
  width: 70%;
}

.card {
  flex: 1 1 260px;
  max-width: 260px;
  height: 250px;
  background-color: white;
  box-shadow: 0 0 4px var(--gray),
              0 0 10px var(--dark-white);
  border-radius: 5%;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  margin: 1.5rem 1rem;
}

.eyes {
  position: relative;
  top: 60px;
  display: flex;
  width: 100%;
  justify-content: center;
  z-index: 10;
}

.eye-l-r {
  background-color: var(--dark-brown);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 30px;
}

.highlight {
  margin: 5px;
  background-color: white;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.hands {
  position: relative;
  top: 60px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  z-index: 10;
}

.left-hand, 
.right-hand {
  background-color: white;
  width: 50px;
  height: 80px;
  border-radius: 50%;
  margin: 0 5px;
}

.left-hand {
  rotate: 20deg;
}

.right-hand {
  rotate: -20deg;
}

.frame {
  position: relative;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--light-gray);
  width: 270px;
  height: 140px;
  border-radius: 16px;
  z-index: 0;
}

@media only screen and (max-width: 1030px){
  .sample-work {
    width: 90%
  }
}

@media only screen and (max-width: 780px){
  .sample-work {
    width: 80%
  }
  .card {
    margin: 1.5rem 2rem;
  }
}

@media only screen and (max-width: 425px){
}

/**********************************************************************************************************/

footer {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 30px 0;
  color: var(--gray);
}

.foot-row {
  display: inline-flex;
  width: 1040px;
  justify-content: space-between;
}

.copyright {
  margin: 0 1%;
  flex: 2;
  font-weight: 300;
}

.foot-link {
  flex: 1;
  display: flex;
  justify-content: space-around
}

.foot-link li a{
  color: var(--gray);
}

@media only screen and (max-width: 780px){
  .foot-link {
    display: none;
  }

  .copyright {
    text-align: center;
  }
}
